@import "tailwindcss";
@plugin "daisyui";


@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url('/assets/fonts/montserrat-alternates/Montserrat-Medium.ttf')
      format("truetype");
  }
}
